/* #####layout### */
body{
  font-size: 1.125rem;
  color: #707070;
  margin: 0;
  background: white;
}
/* ##### typography #### */
h1{
  font-size: 3rem ;
  color: #312614;
  text-align: center;
}
h2{
  font-size: 1.5rem;
  padding: .5em;
}
h1 span{
  color: #89832f;
}
p{
  margin: 0 0;
  padding: .5em ;

}
img{
  max-width: 100%;
}
.container{
  width: 95%;
 max-width: 960px;
 margin: 0 auto;
}
.columns{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
 .col-1{
 width: 20%;
}
.col-2{
  width: 50%;
}
.col-3{
  width: 75%;
}
@media(max-width:800px){
  .columns{
    flex-direction: column;
  }
    .col-1
    .col-2
    .col-3{  
      width: 100%;
    }
}
.col-bg{
  background: #312614;
  margin: 1em 0;
  padding: 1em;
  color: #ffff;
}